@use './variables';

* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    color: variables.$primary-color;
    box-sizing: border-box;
}

body {
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-size: cover;
}

button {
    background-color: variables.$secundary-color;
    color: variables.$terciaria-color;
    border: 2px solid variables.$terciaria-color;
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

button:hover {
    background-color: variables.$terciaria-color;
    color: #FFF;
}

button:hover > i {
    color: #FFF;
}

button i {
    color: variables.$terciaria-color;
    font-weight: bold;
    pointer-events: none;
}

.hide {
    display: none;
}

.all-container {
    max-width: 450px;
    margin: 3rem auto;
    background-color: variables.$secundary-color;
    padding: 1.5rem;
    border-radius: 15px;
}

.all-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}

/* Todo form */

#all-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#all-form p, #edit-form p {
    margin-bottom: .5rem;
    font-weight: bold;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: 0.3rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
}

/* Todo toolbar */

#toolbar {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}

#toolbar h4 {
    margin-bottom: .5rem;
}

#search {
    border-right: 1px solid #ddd;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: 0.3rem;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select {
    flex: 1;
}

.todo {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    transition: 0.3s;
}

.h3 {
    margin-right: 5.5rem;
}

.todo button {
    margin-left: 0.4rem;
}

.done {
    background-color: #395169;
}

.done h3 {
    color: #FFF;
    text-decoration: line-through;
    font-style: italic;
}
